fastapi
uvicorn
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
langchain
langchain-core
langgraph
google-ai-generativelanguage==0.6.15
google-generativeai
langchain-google-genai
pydantic
python-jose
python-dotenv
pantic
